body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
}

.input-container{
    display:flex;
    flex-direction: column;  /* // start arranging themselves column wise; */
    align-items: center;
}

.input-container > input{
    width: 300px;
    height: 30px;
    font-size: 1.25rem ;
}

.input-container > button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: brown;
    font: 1.5rem;
    margin-top: 10px;
}

.task-container{
    margin-top: 15px;
    display:flex;
    flex-direction: column;  /* // start arranging themselves column wise; */
    align-items: center;
    gap: 5px;
}

.todo{
    width: 500px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 0px 5px;
    align-items: center;
}

.actions > button{
    background-color: red;
    color: white;
    height: 30px;
    width: 75px;
    border-radius: 10px;
    font-size: 0.95rem;
    margin-left: 10px;
}